div{
    /* color: red; */
    width: 85%;
    font-size: 1.2em;
    text-align: center;
    margin: auto;
}

.li1{
    font-style: bold;
    text-decoration: underline;
}

.li2{
    font-style: italic;
}

.li3{
   font-size: 0.8em;
}

ul{
    list-style: none;
}