#wrapper {
  width: 100%;
  margin: 0;
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 95% 5%;
}
#left {
  background-image: url();
}
#right {
  background-image: url();
}
footer {
  grid-column: span 2;
}

main {
  height: 100%;
}
