div {
  /* color: red; */
  width: 85%;
  font-size: 1.2em;
  text-align: center;
  margin: auto;
}

a {
  color: black;
  text-decoration: none;
}
.twitterWrap {
  background-image: url("https://raw.githubusercontent.com/GiselleMartinez006/BryanUniversity_WebDev/master/FSW-120/week2/Project1-blogPost/blog-post/src/imgs/twiter.jpg");
  background-image: no-repeat;
  width: 100px;
  height: 100px;
}
.twitterWrap:hover {
  background-image: url("https://raw.githubusercontent.com/GiselleMartinez006/BryanUniversity_WebDev/master/FSW-120/week2/Project1-blogPost/blog-post/src/imgs/twiter_hover.jpg");
}
body {
  font-size: 0.5em;
}
