@import url('https://fonts.googleapis.com/css?family=Allura|Arima+Madurai|Arizonia|Bubbler+One|Calligraffitti|Italianno|Life+Savers|Martel+Sans:200|Marvel|Poiret+One|Quicksand|Text+Me+One&display=swap');


header {
    background-image: url(https://raw.githubusercontent.com/GiselleMartinez006/BryanUniversity_WebDev/master/week%207/Week7/imgs/download.jpg) ;
    background-image: crop;
    background-repeat: no-repeat;
    width: 100%;
    height: 35vw;
}