/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

body {
  background-image: url("https://raw.githubusercontent.com/GiselleMartinez006/BryanUniversity_WebDev/master/FSW-120/Week6/calculator/src/img/download.jpg");
  background-repeat: stretch;
}
.container {
  width: 100%;
  display: block;
  position: relative;
  margin-top: 100px;
  text-align: center;
  height: auto;
}
.container button {
  font-family: Volkorn;
  /* max-width: 180%;
  max-height: 100%; */
  /* width: 220px;
  height: 70px; */
  text-align: center;
}

#wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto auto auto auto auto auto;
}
/* #wrapper > :nth-child(1) {
 color: red; 
} */

#wrapper > :nth-child(6) {
  grid-row: 4;
}
