.form {
  margin: auto;
  width: 60%;
  padding: 50px;
  margin: 50px;
  /* grid-gap: 50px;
  display: grid;
  grid-template-rows: 5;
  grid-template-columns: 2; */
  border: solid black;
  border-radius: 10px;
  word-wrap: break-word;
}
button {
  margin: auto;
  /* margin-right: 0;
  margin-left: 0; */
  border-radius: 5px;
  grid-column: span 2;
  /* box-shadow: none; */
  outline: none;
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
}
button:hover {
  background: black;
  color: white;
}

textarea {
  grid-column: span 2;
}
#Badge {
  margin: auto;
  width: 60%;
  overflow: auto;
  padding: 50px;
  margin: 50px;
  /* grid-gap: 5px; */
  /* display: grid;
  grid-template-rows: 50px 50px 50px 50px auto;
  grid-template-columns: 1fr 1fr; */
  border: solid black;
  border-radius: 10px;
  word-wrap: break-word;
}
/* h1 {
  /* background: blue; */
/* color: red; */
/* margin: 5px; */
/* }  */
.BadgeHeading {
  color: white;
  background: grey;
  grid-gap: 0;
  grid-row: span 1;
  margin: -45px;
  margin-bottom: 50px;
  grid-column: span 2;
}
p {
  width: 90%;
  height: auto;
  padding: 10px;
  border: solid black;
  font-size: 20px;
  /* border-radius: 10px; */
  grid-column: span 2;
}
@media (min-width: 600px) {
  #Badge {
    width: 60%;
    overflow: auto;
    padding: 50px;
    margin: 50px;
    grid-gap: 5px;
    display: grid;
    grid-template-rows: 50px 50px 50px 50px auto;
    grid-template-columns: auto auto;
    border: solid black;
    border-radius: 10px;
    word-wrap: break-word;
    align-items: stretch;
  }
  form {
    width: 60%;
    padding: 50px;
    margin: 50px;
    grid-gap: 50px;
    display: grid;
    grid-template-rows: 5;
    grid-template-columns: auto auto;
    border: solid black;
    border-radius: 10px;
  }
}
@media (min-width: 1300px) {
  form {
    grid-gap: 50px;
    display: grid;
    grid-template-rows: 4;
    grid-template-columns: auto auto auto;
    border: solid black;
    border-radius: 10px;
  }
  #Badge {
    width: 80%;
    grid-gap: 5px;
    display: grid;
    height: auto;
    overflow: visible;
    grid-template-rows: 50px 50px 50px auto auto;
    grid-template-columns: auto auto auto;
    border: solid black;
    border-radius: 10px;
    word-wrap: break-word;
    padding-bottom: 100px;
  }

  .BadgeHeading {
    grid-column: span 3;
  }
  p {
    height: 100%;
    grid-column: span 3;
    grid-row: span 1;
  }
  textarea {
    grid-column: span 3;
  }
  button {
    grid-column: span 3;
  }
}
